


.cabecalho 
{

overflow: hidden;

background-color: black;
box-shadow: 0px 2px 2px  #505250;


border-radius: 24px;
margin-top: 24px ;
width: 100%;
}

.banner 
{

    
     width:  500px;
    height: auto; 

}

.menu 
{
    border-style: double;
    border-color: green;
    font-family:cursive ;
    font-size: 25px;    
    position: relative;
    top: -30px ;
    display: inline-block;   
    color:#c8b7a6 ;
    

}

.menu .contato :hover {

    color: #3180bd;

}



.menu a
{

    padding: 20px;
    color:#c8b7a6;
    text-shadow: 1px 1px #c8b7a6 ;
    
}


.menu a:link , a:visited {

color: #ffff;
text-decoration: none;
}


.carrinho
{
    border-style: double;
    border-color: green;
    font-size: 30px;
    position:relative ;
    right: -200px;
    top: -44px;
    display: inline;
    margin-top: 70px;
    text-shadow: 1px 1px #c8b7a6 ;
    background-color: black;

    
    
}

.carrinho a:link , a:visited {

    color: #ffff;
    text-decoration: none;
}

body
{

    
    border-style: double;
    border-color: green;
    justify-content:center;
    background-color: #c8b7a6;
    padding-bottom: -220px;
 

    

}


.carrossel
{
    border-style: double;
    border-color: green;
    position:relative;
    left: 400px;
    top: 80px ;
    justify-content: center;
    height: fit-content;
    overflow: hidden ;
    width: 50%;
    box-shadow: 2px 2px 4px black;
    background-color: #ffff;


}

.carrossel img{

    justify-content: center;
}




img{

    object-fit: cover;
    height: 550px;
   
 
}


.contato

{
    
    display: inline;
    position: relative ;
    top: -100px;
    left:350px;
    background-color: black;
    
}
.institucional
{
    display: inline-block;
    position: relative ;
    left:750px;
    top:-360px

}



.informacoes
{
    display: inline-block;
    position: relative ;
    left:900px;
    top:-360px
    

}

.institucional  ul{

    color: #ffff;
    

}

.informacoes  ul,h2{

    color: #ffff;
    text-decoration: none;
    

}


.contato ul , h2{

    color:#ffff
}


    


.rodape img
{
    -style: double;
    border-color: greborderen;
    position: relative;
    top: 300px;
    left: 80px;
    background-color: black;
    border-radius: 24px;
}

.fa {
    padding: 20px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 20px;
    margin-bottom: 6px;
  }

  .fa-instagram {  
    padding: 20px;
    font-size: 60px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background:  rgb(40, 37, 37);  
    color: #6a7f8e;  
    border-radius: 20px;
    margin-top: 4px;
  }  

  .fa-whatsapp{  
    padding: 20px;
    position: relative;
    right: -40px;
    font-size: 60px;
    width: 50px;
    text-decoration: none;
    background: green;  
    color: #ffff;  
    border-radius: 20px;
    margin-top: 4px;
    
  }  

  
  